@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        This is column 1. I will store basic info.
    </div>
    <div class="col">
        This is column 2. I will display game data here
    </div>
    <div class="col">
        This is column 3. The text does not matter.
    </div>
</div>