@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-unit">
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Important Information!</strong> We are currently unable to process Visa or Mastercard payments until further notice!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <h1 class="text-center">Welcome to The Shaq</h1>

    <p>
        Welcome to the Shaq! We're happy to announce that we have just added over 303 new titles to the library! Some games including
        Donkey Kong Racing, Fifa 19, and even Monster Hunter World. Come take a look at all of our titles and if you would like to add a
        game to the library feel free to click the link below! Happy gaming!
    </p>

    <a class="btn btn-info btn-large">Add a game!</a>

</div>
<div class="row">
    <div class="col-md-3 col-sm-10">
        <h2 class="text-center">Suggestion Box!</h2>
        <span class="badge badge-danger">Check it out!</span>
        <p>This is a place for you, the people. Here you can drop in and leave us suggestions on what you would like to see in our store.
        We will look at what titles have the most votes and do the best that we can to get them available for you to take home! This is a new feature that 
        we have implemented so just take it easy while we get the ball rolling. We are excited to be even better at meeting your needs and providing you with
        the best service possible.<br />
        </p>
    </div>

    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Game Of The Week!</h3>
        <img src="https://picsum.photos/200" alt="placeholder image" class="img-thumbnail" />
        <br />
        The game of the week this week is That Game! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

</div>

