@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        This is column 1. I will store basic info.
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 2. I will display game data here
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 3. The text does not matter.
    </div>
</div>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-success">Success</button>
<a class="btn btn-secondary" href="https://google.com">Google It!</a>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Almost quitting time!</strong> Think about relazing by the pool!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>