@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-unit">
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Important Information!</strong> We are currently unable to process Visa or Mastercard payments until further notice!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <h1 class="text-center">Welcome to The Shaq</h1>

    <p>
        Welcome to the Shaq! We're happy to announce that we have just added over 303 new titles to the library! Some games including
        Donkey Kong Racing, Fifa 19, and even Monster Hunter World. Come take a look at all of our titles and if you would like to add a
        game to the library feel free to click the link below! Happy gaming!
    </p>

    <a class="btn btn-info btn-large">Add a game!</a>

</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        This is column 1. I will store basic info.
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 2. I will display game data here
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 3. The text does not matter.
    </div>
</div>

