@model VideoGame
@{
    ViewData["Title"] = "Add a new game";
}

<h1 class="h1">Add a new game to your library</h1>
<br />

<form method="post">
    <div class="form-group">
        <div class="form-group-inline row">
            <label asp-for="Title" class="col-md-auto col-form-label"></label>
            <div class="col-auto">
                <input asp-for="Title" />
            </div>
            <span asp-validation-for="Title" class="font-italic"></span>
        </div>
        <br />

        <div class="form-group-inline row">
            <label asp-for="Rating" class="col-md-auto col-form-label"></label>
            <div class="form-group-inline">
                <input asp-for="Rating" />
            </div>
                <span asp-validation-for="Rating"></span>
            </div>
        <br />

        <div class="form-group-inline row">
            <label asp-for="Description" class="col-md-auto col-form-label"></label>
            <div class="col-auto">
                <input asp-for="Description" />
            </div>
            <span asp-validation-for="Description"></span>
        </div>
        <br />

        <div class="form-group-inline row">
            <label asp-for="Price" class="col-md-auto col-form-label"></label>
            <div class="col-auto">
                <input asp-for="Price" />
            </div>
            <span asp-validation-for="Description"></span>
        </div>
        <br />
        <input type="submit" class="btn btn-info"/>
    </div>
        
    
</form>

@*
    Add reference to Jquery calidation which does client validation    
*@
<partial name="_ValidationScriptsPartial" />
